/nbproject/private/
/.vs/camera_auth/v17/DocumentLayout.backup.json
/.vs/camera_auth/FileContentIndex/7dbb44dd-c709-4b03-a0ac-da1372277e72.vsidx
/.vs/camera_auth/FileContentIndex/c8a34f74-6548-4494-b926-7caac99314ae.vsidx
/nbproject/project.xml
/nbproject/project.properties
